@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap');

:root {
  /* Cores exatas do seu design */
  --color-background: #fbf9f9;
  --color-text-dark: #191011;
  --color-text-accent: #8b5b5d;
  --color-border-subtle: #f1e9ea;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-dark);
  font-family: 'Plus Jakarta Sans', sans-serif;
}